<!DOCTYPE html>
<html>
<head>
<title>MikeB</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div id="app" class="fluid-container">
        <div id="header"></div>
        <div id="nav-container">
            <div class="parent-logo-container">
                <a href="http://localhost:3000">
                    <div class="logo-container">
                        <img id="logo" src="/img/Leo.png">
                    </div>
                </a>
            </div>
            <div class="nav-links">
                <a href="http://localhost:3000/">
                    <div class="">SHOP</div>
                </a>
                <a href="http://localhost:3000/aboutus">
                    <div class="">ABOUT US</div>
                </a>
                <a href="http://localhost:3000/stores">
                    <div class="">STORES</div>
                </a>
                <a href="http://localhost:3000/deals">
                    <div class="">DEALS</div>
                </a>
            </div>
        </div>
        <div id="main-content-container">
            <div class="row">
                <div class="col-md-12 col-lg-3 " style="padding: 0">
                    <div id="left-child-content-container">
                        <div class="left-search-container">
                            <input type="text" placeholder="Search Product">
                            <!-- <i class="fas fa-search"></i> -->
                            <img class="magnifying-icon" src="/img/mag.png" width=25 />

                        </div>
                        <div class="left-menu-options-container">

                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-9" style="padding: 0">
                    <div id="right-child-content-container">
                        <h1 style="text-align: center; padding: 40px; color: #adacac;"> DEALS </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script> -->

<!-- <script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery.cookie.js"></script> -->
<!-- <script type="text/javascript" src="/js/bootstrap.min.js"></script> -->
<script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/js/popper.min.js"></script>
<script type="module" src="/js/index.js" ></script>
</html>
